<form autocomplete="off">
  <section>
    <div class="macro-list">
      <label>On Save</label>
      <button type="button" class="macro-button" id="edit-on-save-macro">
        <i class="fa-solid fa-plus"></i>
        Add Macro
      </button>
    </div>
  </section>
</form>
