<form autocomplete="off">
  <section>
    <div class="macro-list">
      <label>{{localize "CHAR_MACRO.ACTOR_PANEL.EVENT.SAVING_THROW" }}</label>
      <button type="button" class="macro-button" id="edit-on-save-macro">
        <i class="fa-solid fa-edit"></i>
        {{localize "CHAR_MACRO.ACTOR_PANEL.FORM.EDIT_MACRO" }}
      </button>
    </div>
  </section>
</form>
